
Alias /favicon.ico {{ webui_basedir }}/static/hyperkitty/img/favicon.ico
Alias /robots.txt  {{ webui_basedir }}/static/hyperkitty/robots.txt
Alias /static      {{ webui_basedir }}/static

<Directory "{{ webui_basedir }}/static">
    Require all granted
</Directory>

