# This goes in /etc/cron.d/.
# Replace "apache" by your webserver user ("www-data" on Debian systems) and
# set the path to the Django project directory

@hourly  {{ webui_user }}  django-admin runjobs hourly  --pythonpath {{ webui_confdir }} --settings settings
@daily   {{ webui_user }}  django-admin runjobs daily   --pythonpath {{ webui_confdir }} --settings settings
@weekly  {{ webui_user }}  django-admin runjobs weekly  --pythonpath {{ webui_confdir }} --settings settings
@monthly {{ webui_user }}  django-admin runjobs monthly --pythonpath {{ webui_confdir }} --settings settings
@yearly  {{ webui_user }}  django-admin runjobs yearly  --pythonpath {{ webui_confdir }} --settings settings
2,17,32,47 * * * * {{ webui_user }}  django-admin runjobs quarter_hourly --pythonpath {{ webui_confdir }} --settings settings
* * * * *  {{ webui_user }}  django-admin runjobs minutely  --pythonpath {{ webui_confdir }} --settings settings

