[Unit]
Description=Mailman web UI warm up cache
Requires=memcached.service
After=memcached.service

[Service]
Type=oneshot
ExecStart=/usr/bin/django-admin hyperkitty_warm_up_cache --pythonpath {{ webui_confdir }} --settings settings -v 2
User={{ webui_user }}

[Install]
WantedBy=multi-user.target
